@font-face {
    font-family: ceraProReg;
    src: url(../font/Cera\ Pro\ Regular.otf);
}

@font-face {
    font-family: ceraProMed;
    src: url(../font/Cera\ Pro\ Medium.otf);
}

@font-face {
    font-family: ceraProBol;
    src: url(../font/Cera\ Pro\ Bold.otf);
}

@font-face {
    font-family: ceraProMedIta;
    src: url(../font/Cera\ Pro\ Medium\ Italic.otf);
}

@font-face {
    font-family: ceraProIta;
    src: url(../font/Cera\ Pro\ Regular\ Italic.otf);
}

@font-face {
    font-family: ceraProLig;
    src: url(../font/Cera\ Pro\ Light.otf);
}
.main{
    font-family: ceraProReg;
    background-color: rgb(30, 29, 27);
    color: rgb(255, 255, 255);
    font-size: 21px;
}
.header{
    background-image: url(../image/default-bg.jpg);
    background-size: cover;
    background-position: 40%;
}
.section-1 .container .nav-item{
    font-family:"ceraProReg";
    padding: auto;
}
.section-1 .container .nav-item .nav-link{
    font-size: 24px;
    color: white;
    margin-left: 57px;
}
.section-1 .container .nav-item a:hover{
    color: green;
}

.container-fluid .title h1{
    font-size: 86px;
    color: white;
    font-family: ceraProBol;

}
.main .container-fluid .row .col-md-6 .text-panel-contact1 h1{
    font-size: 60px;
    font-family: ceraProBol;
    line-height: 66px;
}

.main .container-fluid .row .col-md-6 .text-panel-contact2 h1{
    font-size: 60px;
    font-family: ceraProBol;
    line-height: 66px;
}

.main .container-fluid .row .col-md-6 .text-panel-contact3 h1{
    font-size: 60px;
    font-family: ceraProBol;
    line-height: 66px;
}


.main .container-fluid .row .col-md-6 .text-panel-contact1 i{
    font-size: 40px;
font-family: ceraProIta;
}
.main .container-fluid .row .col-md-6 .text-panel-contact2 i{
    font-size: 40px;
font-family: ceraProIta;
}

.main .container-fluid .row .col-md-6 .text-panel-contact3 i{
    font-size: 40px;
font-family: ceraProIta;
}
.main .container-fluid .row .col-md-6 .text-panel-contact2{
    text-align: right;
    margin-right: 60px;
    margin-top: 120px;
}

.main .container-fluid .row .col-md-6 .text-panel-contact1{
    padding-top: 100px;
}
.main .container-fluid .row .col-md-6 .text-panel-contact3{
    padding-top: 150px;
    height: 200px;
    width: 420px;

}
.main .container-fluid .row .col-md-6 .image-contact{
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.section-2{
    background-image: url(../image/contact-bg.jpg);
    height: 1100px;
}
.section-2 .touch p{
    font-family: ceraProBol;
    font-size: 94px;
}
.section-2 .form-group label{
    font-size: 47px;
}

.section-2 .form-group input{
    margin-left: 340px;
}
.section-2 .form-group input{
    width: 800px;
    height: 55px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.67);
    border: 0;
}

.section-2 button{
    color: #fff;
    background-color: #FDB467;
    border-radius: 0;
    border: 0;
    width: 212px;
    height: 55px;
}

.col-md-6 .text1 h1{
    font-family: ceraProBol;
    font-size: 38px;
}

.col-md-6 .text1 {
    margin-top: 60px;
}
.col-md-6 .text2 {
    margin-top: 60px;
}


.col-md-6 .text2 h1{
    font-family: ceraProBol;
    font-size: 38px;
}

.col-md-6 .text1 p{
    font-family: ceraProLig;
font-size: 29px;
}

.col-md-6 .text2 p{
    font-family: ceraProLig;
font-size: 29px;
}


