@font-face {
    font-family: ceraProReg;
    src: url(../font/Cera\ Pro\ Regular.otf);
}

@font-face {
    font-family: ceraProMed;
    src: url(../font/Cera\ Pro\ Medium.otf);
}

@font-face {
    font-family: ceraProBol;
    src: url(../font/Cera\ Pro\ Bold.otf);
}

@font-face {
    font-family: ceraProMedIta;
    src: url(../font/Cera\ Pro\ Medium\ Italic.otf);
}

@font-face {
    font-family: ceraProIta;
    src: url(../font/Cera\ Pro\ Regular\ Italic.otf);
}

@font-face {
    font-family: ceraProLig;
    src: url(../font/Cera\ Pro\ Light.otf);
}
.header{
    background-image: url(../image/default-bg.jpg);
    background-size: cover;
    background-position: 40%;
}
.section-1 .container .nav-item{
    font-family:"ceraProReg";
    padding: auto;
}
.section-1 .container .nav-item .nav-link{
    font-size: 24px;
    color: white;
    margin-left: 57px;
}
.section-1 .container .nav-item a:hover{
    color: green;
}
.container-fluid .title h1{
    font-size: 86px;
    color: white;
    font-family: ceraProBol;

}
.main{
    background-color: #ffffff;background-image: linear-gradient(#000000, #ffffff);
}
.col-md-6 .text-panel-product h2{
    font-size: 48px;
    font-family: ceraProMed;
    line-height: 48px;
    color: white;
}

.col-md-6 .text-panel-product .strip{
    width: 65px;
    height: 3px;
    background-color: #FDB467;
}

.col-md-6 .text-panel-product .dimensional h1{
    font-size: 61px;
    font-family: ceraProMed;
    color: white;
}

.col-md-6 .text-panel-product .stud h1{
    font-size: 61px;
    font-family: ceraProMed;
    color: white;
}

.col-md-6 .text-panel-product .text span{
    font-family: ceraProBol;color:white;font-size: 21px;
}

.col-md-6 .text-panel-product .text p{
    font-family: ceraProReg;color:white;font-size: 21px;
}

.cards .card img{
    border-bottom: 3px solid  #FDB467;
}
.cards .card{
    color:white;
}
.cards .card .card-body{
    background-color: #1E1D1B;
}
.cards .card .title{
    margin-bottom: 50px;
}
.cards .card span{
    font-size: 47px;
    font-family: ceraProBol;
}
.cards .card .card-body{
    padding: 50px;
}
.cards .card .card-body i{
    font-size: 18px;
    font-family: ceraProReg;
}
.cards .card .card-body p{
    font-family: ceraProReg;
    color: rgb(255, 255, 255);
    font-size: 21px;
    margin-bottom: 30px;
}