@font-face {
    font-family: ceraProReg;
    src: url(../font/Cera\ Pro\ Regular.otf);
}

@font-face {
    font-family: ceraProMed;
    src: url(../font/Cera\ Pro\ Medium.otf);
}

@font-face {
    font-family: ceraProBol;
    src: url(../font/Cera\ Pro\ Bold.otf);
}

@font-face {
    font-family: ceraProMedIta;
    src: url(../font/Cera\ Pro\ Medium\ Italic.otf);
}

@font-face {
    font-family: ceraProIta;
    src: url(../font/Cera\ Pro\ Regular\ Italic.otf);
}

@font-face {
    font-family: ceraProLig;
    src: url(../font/Cera\ Pro\ Light.otf);
}

body{
    background-image: url(../image/home-bg.jpg);
    background-size: cover;
}
.section-1 .container .nav-item{
    font-family:"ceraProReg";
    padding: auto;
}
.section-1 .container .nav-item .nav-link{
    font-size: 24px;
    margin-left: 57px;    color: white;
}
.section-1 .container .nav-item a:hover{
    color: green;
}

.main .container .row .col-md-6 h2{
    line-height: 64px;
    font-size: 64.4895px;
    font-family: ceraProBol;
    color:white;
}

.main .container .row .col-md-6 h1{
    font-size: 122px;
    line-height: 122px;
    margin: -12px;
    font-family: ceraProBol;
    color:white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2.692px;
    -webkit-text-stroke-color: #ffffff;
}
.main .container .row .col-md-6 button{
    color: #ffffff;
    font-size: 23px;
    background: #FDB467;
    border-radius: 0;
    border-color: #ffffff;
}
.container-fluid .text-panel-home p{

    width: 100%;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 30px;
    font-family: ceraProMed;
}
.container-fluid .text-panel-home .strip{
    width: 47px;
    height: 5px;
    background-color: #FDB467;
}
.footer .container-fluid img{
    margin-left: 2.144px;
}

@media (max-width: 992px) {
    .main .container .row .col-md-6 h2{
        margin-top: 70px;
        line-height: 64px;
        text-align: center;
        font-size: 34.4895px;
        font-family: ceraProBol;
        color:white;
    }
    .main .container .row .col-md-6 h1{
        font-size: 72px;
        text-align: center;
        line-height: 122px;
        margin: -52px;
        font-family: ceraProBol;
        color:white;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2.692px;
        -webkit-text-stroke-color: #ffffff;
    }
    .main .container .row .col-md-6 button{
        margin-top: 80px;
        margin-left: 120px;
        border: none;
        color: #ffffff;
        font-size: 23px;
        background: #FDB467;
        border-radius: 0;
        border-color: #ffffff;
    }
    .container-fluid .text-panel-home .strip{
        margin-left: 58px;
        width: 47px;
        height: 5px;
        background-color: #FDB467;
    }
    .container-fluid .text-panel-home p{
        padding-top: 340px;
        text-align: center;
        width: 100%;
        color: #ffffff;
        font-size: 30px;
        font-family: ceraProMed;
    }
    .footer .container-fluid img{
        margin-top: 30px;
        margin-left: 35px;
        text-align: center;
    }
    
}